
<head>
    <meta charset="UTF-8">
    <title>Gerenciador de Conteudo</title>
    <link rel="stylesheet" href="~/assets/css/HomeStyle.css" type="text/css">
</head>

<div class="jumbotron">
    <h1>Cadastrar Paginas</h1>
    <div id="link">
        <a href="/paginas/index" class="btn btn-default">Ir para Listagem de Paginas</a>
    </div>
</div>