@{ 
    Business.Pagina pagina = ViewBag.Pagina;
}

<head>
    <meta charset="UTF-8">
    <title>Gerenciador de Conteudo</title>
    <link rel="stylesheet" href="~/assets/css/CadastroAlterStyle.css" type="text/css">
</head>

<div class="jumbotron">
    <h1>Cadastro</h1>
    <div id="link">
        <a href="/paginas/Index" class="btn btn-default">Voltar</a>
    </div>

    <form action="/paginas/@pagina.Id/alterar" method="post">
        <div class="form-group">
            <label for="Nome">Nome da Pagina:</label>
            <input type="text" class="form-control" id="nome" name="nome" value="@pagina.Nome">
        </div>
        <div class="form-group">
            <label for="data">Data:</label>
            <input type="datetime" class="form-control" id="data" name="data" value="@pagina.Data">
        </div>
        <div class="form-group">
            <label for="conteudo">Conteúdo:</label>
            <textarea id="conteudo" class="form-control" name="conteudo">@pagina.Conteudo</textarea>
        </div>

        <button type="submit" class="btn btn-default" id="link">Alterar</button>
    </form>

</div>
